name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: NagarajaAcharya1
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
